* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* a[href="www.google.com"] {
  background-color: yellow;
}

[href="www.google.com"] {
  background-color: red;
} */

a[attr$="goo"] {
  background-color: blue;
}