* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0C2529;
}

img {
  width: 70px;
}

header {
  margin: 20px auto;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 2px solid red; */
}

header .navbar {
  background-color: #fff;
  height: 80%;
  width: 49%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  border-radius: 35px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

header .navbar a {
  /* background-color: whitesmoke; */
  padding: 10px 45px;
  border-radius: 20px;
  
  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
  font-size: 15px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header .navbar a:hover {
  background-color: #017449;
  color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}


.login img {
  width: 50px;
}