:root {
  --heigh-header: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #0c2529;
  color: #fff;
  overflow: hidden;
}

img {
  width: 70px;
}

/* -- Header Styles --------------------------------- */
header {
  margin: 20px auto;
  width: 100%;
  height: var(--heigh-header);

  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 2px solid red; */
}

header .navbar {
  background-color: #fff;
  height: 80%;
  width: 49%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  border-radius: 35px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

header .navbar a {
  /* background-color: whitesmoke; */
  padding: 10px 45px;
  border-radius: 20px;

  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
  font-size: 15px;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header .navbar a:hover {
  background-color: #017449;
  color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.2);
}

.login img {
  width: 50px;
}

/* -- Main Styles ------------------------------------------ */

main {
  height: calc(100vh - var(--heigh-header) - 40px);
  /* background-color: red; */

  display: flex;
  align-items: center;
}

main .left-content {
  width: 100%;
  height: 100%;
  /* background-color: green; */

  display: flex;
  justify-content: center;
}

main .content-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 40px;
  justify-content: center;

  /* background-color: #d8d878; */
  width: 80%;
}

main .content-section .title {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  /* background-color: orange; */
  line-height: 60px;
}

main .content-section .title h1 {
  color: #fff;
  font-size: 65px;
}

main .content-section .title span {
  color: #00744a;
}

main .content-section .title h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

main .content-section .text-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: purple; */
}

main .content-section .text-content h4 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 20px;
}

main .content-section .text-content p {
  width: 87%;
  font-weight: 400;
  font-size: 18px;
}

main .info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 70%;
  margin-left: 30px;
  /* background-color: bisque; */
}

main .info-panel .price-rating {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 80px;
  border: 3px solid #00744a;
  border-radius: 40px;

  box-shadow: 2px 2px 35px rgba(0, 0, 0, 0.3);
}

main .info-panel p {
  font-size: 21px;
  text-transform: uppercase;
  color: #d8d878;
}

main .info-panel span {
  font-size: 40px;
  color: #00744a;
  font-weight: bold;
}

main .info-panel input[type="button"] {
  width: 70%;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #00744a;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

main .right-content {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: end;
}

main .right-content .painel-green {
  width: 80%;
  height: 100%;
  background-color: #00744a;
  border-radius: 30px 0 0 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main .right-content .painel-green .text-painel {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  /* background-color: yellowgreen; */
  width: fit-content;
  font-weight: 700;
  font-size: 60px;
  transform: rotate(-90deg);
  line-height: 110%;
  margin-bottom: -10%;
}

main .right-content .painel-green .text-painel h3 {
  font-family: "SoDo Sans Black", sans-serif;
}

main .right-content .painel-green .text-painel h3:nth-of-type(1) {
  margin-left: 30%;
  
}

main .right-content .painel-green .text-painel h3:nth-of-type(2) {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

main .painel-green img {
  position: absolute;
  width: 350px;
  right: 26%;
}

main .painel-green .coffees {
  width: 200px;
  height: 200px;
  position: absolute;
}

main .painel-green .coffees img {
  position: absolute;
}

main .painel-green .coffees img:nth-of-type(1) {
  width: 100px;
  transform: rotate(-25deg);
  right: 35vw;
  top: 20vh;
}

main .painel-green .coffees img:nth-of-type(2) {
  width: 300px;
  left: 18vw;
  bottom: 5vh;
  transform: rotate(60deg);
}

main .painel-green .coffees img:nth-of-type(3) {
  width: 200px;
  top: 40vh;
  left: -10vw;
  transform: rotate(10deg);
}